@import "tailwindcss";

@theme {
  /* Colors */
  --color-almost-black: #1c2229;
  --color-yellow: #706700;
  --color-yellow-active: #e7d400;
  --color-blue: #000047;
  --color-blue-active: #0100b9;
  --color-green: #366e00;
  --color-green-active: #66d000;
  --color-red: #751600;
  --color-red-active: #e72b00;
  --color-red-hover: #ff5c38;
  --color-slider-bg: #c5c5d9;

  --text-lg: 30px;
  --text-start-button: clamp(0.375rem, 1.2903225806451613vw + 0.07258064516129033rem, 0.75rem);
  --text-title: clamp(0.625rem, 3.010752688172043vw + -0.08064516129032258rem, 1.5rem);
  --text-title-full: 1.5rem;

  --spacing-button: 5.625%;

  --font-sans: "Aldrich", serif;
  --breakpoint-full: 52.5rem;
}

button:not(:disabled) {
  @apply cursor-pointer;
}

.speed-slider {
  -webkit-appearance: none;
}

.speed-slider::-webkit-slider-thumb {
  @apply w-[24%] aspect-square bg-no-repeat bg-center appearance-none;
  -webkit-appearance: none;
  background-image: url("slider-thumb.svg");
}

.speed-slider::-moz-range-track {
  @apply w-[24%] aspect-square bg-no-repeat bg-center appearance-none;
  appearance: none;
  background-image: url("slider-thumb.svg");
}
