@import "tailwindcss";

@theme {
  /* Colors */
  --color-almost-black: #1c2229;
  --color-yellow: #706700;
  --color-yellow-active: #e7d400;
  --color-blue: #000047;
  --color-blue-active: #0100b9;
  --color-green: #366e00;
  --color-green-active: #66d000;
  --color-red: #751600;
  --color-red-active: #e72b00;

  --text-lg: 30px;
}
